/********** Common CSS Starts **********/  
* {
    margin:0px;
    padding:0px;
}
html {

	width:98%;
  scroll-behavior: smooth;
}

/********* Header HTML CSS Starts **********/
.header {
	background: #46b7c1;
	padding: 6px;
	    width: 101.11%;
}
.header b {
	background: #fff;
	color: red;
	padding:11px;
	font-size: 22px;
}
.header marquee {
	font-size:20px;
	color: #ffffff;
	width: 80%;
}
/********* Header HTML CSS End **********/
html, body {
    font-family: Roboto, sans-serif, arial;
    font-size: 14px;
    color: #242424;
}
.container {
width: 100%;
  height: 70%;
    margin:0px ;
}
.main-section {
	width:100%;
    float: left;
    padding:50px 0px 40px 0px;
}
.heading {
	margin-left:2rem;
    font-size: 22px;
    font-weight: 540;
    border-bottom: 1px solid #ff5722;
    margin-bottom:25px;
    color: #ff5722;
}

#reachu{
   margin-left: 21rem;
 
}

/********** Common CSS Ends **********/

/********** Logo CSS Starts **********/  
.logo {
    width: 102%;
}
/********** Logo CSS Ends **********/

/********** Main Menu CSS Starts **********/  
nav {
    width: 101.9%;
    float: left;
    background: #fe4f1a;
    padding:15px 0px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #f9bbbb;
    padding:2px 20px;
}
/********** Main Menu CSS Ends **********/

/********** Slider CSS Starts **********/  

/********** Slider CSS Ends **********/

/********** News, Event, Notice Board CSS Starts **********/  
.slider img {
   
}
/********** Slider CSS Ends **********/

/********** News, Event, Notice Board CSS Starts **********/  
.obj{
height:414px
}

.event {
    width: 30%;
    margin-right: 1%;
    margin-left: 0.33%;
    float: left;
    inline-size: 32%;
}
.event div {
    padding:10px;
    background-color: #f0f3fa;
  
}
.event ul li {
    margin-bottom: 20px;
    margin-left: 2%;
    width: 100%;
    float: left;
}
/********** News, Event, Notice Board CSS Ends **********/

/********** About Us CSS Starts **********/  
.about-us{
margin-left:2rem;
}
.about-us img {
    width:24%;
    float:left;
}
.about-us div {
	width:70%;
    margin-left:2rem;
    float:left;
	line-height:2rem;
	
  
}
/********** About Us CSS Ends **********/

/********** Testimonial CSS Starts **********/  
.testimonial {
    width: auto;
    float: left;
    margin-right:10px;
}
.testimonial-text {
    background: #f0f3fa;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
}
.testimonial-detail {
    float:left;
    margin-top:10px;
}
.testimonial-img {
    float:left;
}
.testimonial-img img {
    border-radius:50%;
}
.testimonial-name {
    margin-left:10px;
    float:left;
}
.testimonial-name h5 {
    font-size:18px;
    margin-top:8px;
}
/********** Testimonial CSS Ends **********/

/********** Gallery CSS Starts **********/  
.gallery img {
    width: 20%;
margin-left: 2%;
}
/********** Gallery CSS Ends **********/

/********** Placement CSS Starts **********/  
.placement img {
    border:1px solid #dfdfdf;
}
/********** Placement CSS Ends **********/

.map {
    background-color: transparent;
  display:flex;
	align-items:center;
	justify-content:center;
}

.team,.coord{
	display:flex;
	justify-content: space-around; 
        align-items: center;
}

.coord{
    margin-left: 20%;
}
.per{
	text-align:center;
}

/********** Footer CSS Starts **********/  
.footer {
    margin-bottom: -16rem;
    background-color: #1f2836;
         padding: 63px 0px 103px 30px;
    width: 100%;
    float: left;
    
}
.footer-sect {
    width:33%;
    float: left;

}
.footer-sect h2 {
    color:#fff;
    margin-bottom: 20px;
    margin-left: 10px;
}
.footer-sect p {
    color: #fff;
    line-height: 22px;
    padding:0px 90px 20px 10px;
    
}
.footer-menu li {
    width: 50%;
    float: left;
    margin-bottom: 1px;
    
}
.footer-menu li a {
    color:#fff;
    text-decoration: none;
}
.footer-contact li {
    margin-bottom:15px;
    list-style: none;
    color: #fff;
    
}
/********** Footer CSS Ends **********/

.button1{
  border-radius:3px;
  height:2.3rem;
	width:6rem;
	background-color: #fe4f1a;
	color: white;
	border-style: 2px solid #ff5722;
}

.blink-button {
    animation: blink-animation 1s infinite; /* Adjust the duration as needed */
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.butflex{
	margin-top:-2rem;
	margin-bottom:2rem;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
}
.link1{
	text-decoration:none;
	color:#ff5722;
}

.button1 a{
color:white;
}

.main-section1 {
    width: 100%;
    float: left;
    padding: 50px 0px 40px 0px;
}

.heading1 {
    margin-left: 2rem;
    font-size: 22px;
    font-weight: 540;
    border-bottom: 1px solid #ff5722;
    margin-bottom: 25px;
    color: #ff5722;
}

.cflex {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Added to allow items to wrap to the next line */
}

.crgipt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    flex-basis: 30%; /* Added to control width of each item */
    margin: 10px; /* Added spacing between items */
}

.crgipt h2 {
    color: #ff5722;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .crgipt {
	     font-size: 90%;
        flex-basis: 45%; /* Adjusting width for smaller screens */
    }
}
@media only screen and (max-width: 768px) {
    .try p {
	font-size:1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .crgipt {
        flex-basis: 100%; /* Making each item take full width on smaller screens */
    }
}
@media only screen and (max-width: 480px) {
    .try p {
	font-size:1rem;
    }
}

.center{
	display:flex;
	align-items:center;
	justify-content:space-around;
}
